<template>
    <div id='game-menu'>
        <router-link to='gameplay' tag="button" v-bind:class="'playbutton'">Play game </router-link>
    </div>
</template>

<script>

export default {
    name: 'GameMenu'
}
</script>

<style scoped>
    .playbutton {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        width: 20%;
        height: 50px;
    }
</style>