<template>
    <div id="game-over">
        <p v-bind:class="'finalscore'"> Final score: {{ $route.params.score }} / {{ $route.params.questions.length * 10 }}</p>

        <div v-for="(question, index) in $route.params.questions" :key="index" v-bind:class="'questiondiv'">
           <span v-bind:class="'question'" v-html="question.question"></span>
            <ul>
                <li v-for="(option, index) in question.options" :key="index"> 
                    <span v-bind:id="option.correct ? 'correctanswer' : 'incorrectanswer'"
                          v-bind:class="option.chosen ? 'chosen' : 'notchosen'"
                        v-html="option.answer"> </span>
                </li>
            </ul>
        </div>
        <button v-bind:class="'finishbutton'" v-on:click="endgame()">End Game</button>
    </div>
</template>

<script>
export default {
    name: 'GameOver',
    methods: {
        endgame() {
            this.$router.replace({name:'startpage'})
        }
    }
}
</script>

<style scoped>
    ul{
        padding: 0;
    }
    li {
        list-style-type: none;
    }
    #game-over {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 80%;
        text-align: center;
    }

    #correctanswer {
        background-color: lightgreen;
    }

    .chosen {
        background-color: red;
    }

    .finalscore {
        font-size: 28px;
        font-weight: bold;
        
    }

    .questiondiv {
        padding-top: 25px;
    
    }

    .question {
        font-size: 22px;
        font-weight: 100;
    }

    .finishbutton {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        margin-bottom: 25px;
        width: 20%;
        height: 50px;
    }

</style>