<template>
    <div id='game-play'>
        <QuizQuestion v-on:next-question="setNextQuestion" 
            v-bind:question-item="questions[this.index]"
            :key="this.index"/>
    </div>
</template>

<script>
import axios from 'axios';
import QuizQuestion from '../components/QuizQuestion';

export default {
    name: 'GamePlay',
    components: {
        QuizQuestion
    },
    methods: {
        setNextQuestion(answer) {
            if(answer.correct) {
                this.points = this.points + 10;
            }
            this.questions[this.index].answer = answer;
            this.questions[this.index].options.map(option => {
                if(option.answer == answer.answer) {
                    option.chosen = true;
                }
            })

            if(this.index != this.questions.length-1) {
                this.index++;
            } else {
                window.console.log(this.questions)
                this.$router.replace({name:'gameover', params: 
                    { 
                        score: this.points, 
                        questions: this.questions 
                    }
                });
            }
        },
        shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]];
            }
        }
    },
    created() {
        axios.get('https://opentdb.com/api.php?amount=10')
        .then(resp => resp.data)
        .then(resp => {
            this.questions = resp.results || [];
            let i = 1;
            this.questions = this.questions.map(question => {
                if(i == this.questions.length) {
                    question.finalQuestion = true;
                } else {
                    question.finalQuestion = false;
                }
                i = i + 1;
                if(question.type === "multiple") {
                    question.options = [
                        {
                            answer: question.correct_answer,
                            correct: true,
                            chosen: false
                        },
                        {
                            answer: question.incorrect_answers[0],
                            correct: false,
                            chosen: false
                        },
                                                {
                            answer: question.incorrect_answers[1],
                            correct: false,
                            chosen: false
                        },
                                                {
                            answer: question.incorrect_answers[2],
                            correct: false,
                            chosen: false
                        },
                    ];
                    this.shuffleArray(question.options);
                } else {
                    question.options = [
                        {
                            answer: question.correct_answer,
                            correct: true,
                            chosen: false
                        },
                        {
                            answer: question.incorrect_answers[0],
                            correct: false,
                            chosen: false
                        }
                    ];
                    this.shuffleArray(question.options);
                }
                return question;
            })
        })
    }, 
    data() {
        return {
            questions: [],
            index: 0,
            points: 0
        }
    }
}
</script>

<style scoped>
    #game-play {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

</style>