<template>
    <div id='quiz-question'>        
        <h1 v-bind:class="'questiontext'" v-html="QuestionItem.question"> </h1>
        <br>

        <button 
        v-for="(question, index) in QuestionItem.options" 
        :key=index v-on:click="nextQuestion(question)"
        v-bind:class="'optionbutton'">
            <span v-bind:class="'buttontext'" v-html="question.answer"></span>
        </button>
        <br>
    </div>
</template>

<script>
export default {
    name: 'QuizQuestion',
    props: {
        QuestionItem: {
            required: true,
            type: Object
        }
    },
    methods: {
        nextQuestion(question) {
            this.$emit('next-question', question)
        }
    }
}
</script>

<style scoped>
    #quiz-question {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        width: 80%;
        text-align: center;
    }

    .optionbutton {
        margin: 20px;
        margin-top: 20px;
        width: auto;
        height: auto;
        min-width: 150px;
        min-height: 50px;
        background-color: lightblue;
        padding: auto;
    }

    .buttontext {
        color: white;
        font-size: 16px;
        font-weight: bold;
        padding: 20px;
    }

</style>