<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  name: 'app',
}
</script>

<style scoped>
  #app {
    max-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
  }
</style>